* {
	box-sizing: border-box;
}

a{
    text-decoration: none;
}
body {
    background-color: #FBF3D5;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
}

footer {
    background-color: #FBF3D5;
}

header{
    border: 1px solid #a2a2a2;
	background-color: #B7BE9E;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vh 1vh;
}

.main-nav{
    list-style: none;
}

.main-nav li{
    display: inline-block;
    padding: 0vh 1vh;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}

.admin-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.admin-form-wrapper {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.admin-form-wrapper h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover {
    background-color: #45a049;
}
